*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
gradlew
gradlew.bat
班牌开发文档/6、YS-M68  应用开发/1、YS-M68  API接口文档/API demo.apk
班牌开发文档/6、YS-M68  应用开发/1、YS-M68  API接口文档/app.rar
班牌开发文档/6、YS-M68  应用开发/1、YS-M68  API接口文档/ysapi.jar
班牌开发文档/6、YS-M68  应用开发/2、YS-M68  定时接口文档/poweronoff.jar
班牌开发文档/6、YS-M68  应用开发/2、YS-M68  定时接口文档/poweronoffDemo.apk
班牌开发文档/6、YS-M68  应用开发/2、YS-M68  定时接口文档/PowerOnOffDemo.zip
班牌开发文档/6、YS-M68  应用开发/3、YS-M68  串口调试文档/串口助手 ComAssistant 1.1.apk
班牌开发文档/6、YS-M68  应用开发/5、YS-M68  系统签名文档  V11.0
班牌开发文档/6、YS-M68  应用开发/6、YS-M68  双屏异显文档  V11.0/app源码.zip
班牌开发文档/6、YS-M68  应用开发/6、YS-M68  双屏异显文档  V11.0/双屏异显.apk
班牌开发文档/6、YS-M68  应用开发/7、YS-M68  IO口列表/gpiotest.apk
班牌开发文档/6、YS-M68  应用开发/7、YS-M68  IO口列表/GpioDemo.zip
班牌开发文档/6、YS-M68  应用开发/9、YS-M68  MCU软件看门狗
班牌开发文档/RK356X API 文档/__MACOSX
班牌开发文档/RK356X API 文档/RK356X API 鏂囨。
.kotlin
